.about-tabs-wrapper {
	position: relative;
	height: 100vh;
	top: 0;

	&::before {
		position: absolute;
		top: 0;
		left: 2%;
		content: '';
		display: inline-block;
		width: 1px;
		height: 100%;
		background-color: #d8d8d8;
	}

	.tabs {
		width: 5%;
		display: flex;
		min-height: 350px;
		top: 50%;
		left: 0;
		z-index: 3;
		transform: translateY(-50%);
		margin: 0 auto;
		position: absolute;
		/* align-items: s; */
		justify-content: space-between;
		flex-direction: column;

		.navigation__item {
			color: var(--gray);
			font-family: 'GilSans', serif;
			writing-mode: vertical-rl;

			a {
				color: inherit;
			}

			&.active-tab {
				font-weight: bold;
				color: var(--primary-color);

				a {
					color: var(--primary-color);
				}
			}
		}
	}
}

.project-map-wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;

	img {
		height: 630px;
		object-fit: contain;
	}
}

.download {
	font-family: 'NotoSerif', serif;
	font-size: 16px;
	text-transform: uppercase;
}

.project-floor-plan {
	.download {
		position: absolute;
		top: 60px;
		font-weight: bold;
		display: inline-block;
	}
	.download:before {
		content: '';
		width: 26px;
		height: 26px;
		vertical-align: middle;
		margin-inline-end: 10px;
		text-align: center;
		background-repeat: no-repeat;
		border: 1px solid var(--blue);
		border-radius: 50%;
		background-position: center;
		background-image: url('../images/icons/download-arrow.svg');
		display: inline-block;
	}
}

.facility-grid {
	height: 100vh;

	.col {
		padding-inline: 5px;
	}

	.grid-tile-wrapper {
		position: relative;
		height: 100vh;
		color: #fff;
		text-align: center;
		cursor: pointer;
		overflow: hidden;

		.grid-tile-details {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 90%;
			transform: translate(-50%, -50%);

			p {
				display: none;
			}
		}

		&:hover {
			p {
				display: block;
			}
		}

		&:hover:before {
			content: '';
			position: absolute;
			display: inline-block;
			width: 200px;
			height: 200px;
			bottom: -40px;
			left: -40px;
			background-size: contain;
			background-image: url('../images/background/hover-circle.svg');
			background-repeat: no-repeat;
		}

		h1 {
			font-family: 'Noto-serif', serif;
			font-weight: bold;
			color: #fff;
		}
	}

	img {
		width: 100%;
		height: 100vh;
		object-fit: cover;
	}
}
.about-project-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about-images-wrapper {
	margin-block: 40px;
	position: relative;
	img:nth-child(1) {
		width: 600px;
		object-fit: cover;
		height: 560px;
	}
	img:last-child {
		position: absolute;
		top: 52%;
		left: 60%;
		width: 260px;
		height: 300px;
		object-fit: cover;
	}
}
.main-leader-container {
	margin-block: 60px;
	position: relative;
	.title {
		position: absolute;
		top: 20%;
		left: 30%;
		max-width: 600px;
		@media (max-width: 768px) {
			position: static;
		}
	}
	.description {
		position: absolute;
		top: 50%;
		left: 45%;
		@media (max-width: 768px) {
			position: static;
		}
	}
	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
		position: static;
		.title {
			margin-block: 20px;
			font-size: 24px;
			line-height: 36px;
		}
		.description {
			margin-inline-start: 40px;
		}
		img {
			order: -1;
		}
	}
}
.about-description-wrapper {
	margin-block: 40px;
	padding-inline-start: 100px;
	.title {
		font-family: 'NotoSerif', serif;
		font-size: 38px;
		font-weight: bold;
	}
	.description {
		font-family: 'GilSans', serif;
		color: var(--gray);
		line-height: 24px;
		max-width: 400px;
	}
}
.numbers li::before {
	content: '';
	display: inline-block;
	border-radius: 50%;
	margin-inline-end: -40px;
	margin-top: -10px;
	width: 58px;
	height: 59px;
	background-color: #dbdcdd;
}
.numbers {
	display: flex;
	flex-wrap: wrap;
	font-size: 50px;
	font-family: 'NotoSerif', serif;
	font-weight: bold;
	li {
		flex-basis: 50%;
	}
	span {
		display: block;
		font-family: 'GilSans', serif;
		font-size: 18px;
		color: var(--primary-color);
	}
}
@media (max-width: 768px) {
	.about-page-content .cols {
		display: flex;
		flex-direction: column-reverse;
	}
	.about-page-content .col {
		max-width: 90%;
		margin: 0 auto;
	}
	.shifted-content {
		img {
			display: none;
		}
	}
	.about-page-content {
		.image-large {
			width: 185px !important;
			height: 215px !important;
			object-fit: contain;
		}
	}
}
