.about-slider-wrapper {
	margin-block: 50px;
}

.swiper-pagination {
	position: absolute;
	top: 30%;
	width: 100px;
	left: 10%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100px;

	span {
		font-family: 'Gill Sans', serif;
		font-weight: 100;
		color: var(--gray);
		opacity: 1;
		font-size: 14px;
	}

	.swiper-pagination-bullet-active {
		color: var(--blue);
		font-size: 38px;
		font-family: 'NotoSerif', serif;
		font-weight: bold;
	}

	.swiper-pagination-bullet {
		width: 0;
		height: 0;
	}

	.swiper-pagination-bullet::before {
		margin-inline-end: 20px;
		content: '';
		display: inline-block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: var(--blue);
		vertical-align: middle;
	}
}

.about-slider {
	position: relative;
	height: 90vh;

	.pagination {
		position: absolute;
		left: 0;
	}

	.images-wrapper {
		img:nth-child(1) {
			position: absolute;
			left: 15%;
			top: 10%;
			z-index: -1;
		}

		img:nth-child(2) {
			position: absolute;
			left: 52%;
			top: 20%;
		}
	}

	.description {
		position: absolute;
		background-color: #fff;
		top: 75%;
		left: 50%;
		padding: 20px;
		max-width: 290px;
		transform: translateX(-50%);
	}

	.title {
		position: absolute;
		font-size: 50;
		max-width: 400px;
		text-transform: uppercase;
	}
}

.board-leads-wrapper {
	.description {
		display: none;
	}

	.swiper-slide-next {
		text-align: center;

		.title {
			text-transform: uppercase;
			position: absolute;
			font-size: 28px;
			top: 40%;
			right: 50px;
			max-width: 100px;
		}

		.swiper-slide.swiper-slide-active {
			.content-wrapper {
				position: absolute;
				top: 20%;
				left: 50%;
				background-color: var(--light-gray);
				border-radius: 50%;
				height: 275px;
				width: 275px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 40px;

				.title {
					font-size: 28px;
					position: static;
					min-width: 300px;
					text-transform: uppercase;
				}

				.description {
					display: block;
					max-width: 90%;
				}
			}
		}
	}
}
