.about-slider-wrapper {
	margin-block: 50px;
	background-image: url('../images/background/Group.svg');
	background-repeat: no-repeat;
	background-position: 140% -20%;
}

.swiper-pagination {
	position: absolute;
	top: 30%;
	width: 100px;
	left: 10%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100px;

	span {
		font-family: 'Gill Sans', serif;
		font-weight: 100;
		color: var(--gray);
		opacity: 1;
		font-size: 14px;
	}

	.swiper-pagination-bullet-active {
		color: var(--blue);
		font-size: 38px;
		font-family: 'NotoSerif', serif;
		font-weight: bold;
	}

	.swiper-pagination-bullet {
		width: 0;
		height: 0;
	}

	.swiper-pagination-bullet::before {
		margin-inline-end: 20px;
		content: '';
		display: inline-block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: var(--blue);
		vertical-align: middle;
	}
}
.timeline-item {
	display: none;
}
.about-slider {
	position: relative;
	height: 90vh;
	.swiper-pagination-costum {
		position: absolute;
		left: 0;
		width: 140px;
		.bullet {
			color: var(--blue);
			&:before {
				font-size: 20px;
				display: inline-block;
				content: '\2022';
			}
		}
		.bullet:not(.active) {
			font-size: 0;
		}
		.bullet.active {
			font-size: 38px;
			font-weight: bold;
			font-family: 'NotoSerif', serif;
			&:before {
				vertical-align: middle;
				margin-inline-end: 10px;
				content: '';
				display: inline-block;
				background: var(--yellow);
				border-radius: 50%;
				height: 45px;
				width: 45px;
				border: 1px solid var(--primary-color);
				box-shadow: inset 0 0 0 15px #fff;
			}
		}
	}
	.timeline-bullets {
		display: none;
	}
	.images-wrapper {
		margin-block: 60px;
		img:nth-child(1) {
			position: absolute;
			left: 15%;
			top: 10%;
			height: 500px;
			width: 400px;
			object-fit: cover;
			z-index: -1;
			@media (max-width: 768px) {
				position: static;
				width: 50%;
				margin-top: 0px;
			}
		}

		img:nth-child(2) {
			position: absolute;
			left: 54%;
			top: 20%;
			height: 500px;
			width: 400px;
			object-fit: cover;
			@media (max-width: 768px) {
				position: static;
				width: 50%;
				margin-top: 40px;
			}
		}
	}
	.description {
		position: absolute;
		background-color: #fff;
		top: 75%;
		left: 50%;
		padding: 20px;
		max-width: 290px;
		transform: translateX(-50%);
		@media (max-width: 768px) {
			width: 100%;
			max-width: 100%;
			transform: none;
			left: 0;
			right: 0;
		}
	}

	.title {
		position: absolute;
		font-size: 50;
		max-width: 400px;
		z-index: 2;
		text-transform: uppercase;
		@media (max-width: 768px) {
			font-size: 24px;
			line-height: 36px;
		}
	}
}

.board-leads-wrapper {
	.swiper-slide:not(.swiper-slide-active) {
		.description {
			display: none;
		}
		.title {
			text-transform: uppercase;
			position: absolute;
			font-size: 28px;
			top: 40%;
			right: 50px;
			max-width: 100px;
		}
	}
	.swiper-slide-next {
		text-align: center;
	}

	.swiper-slide.swiper-slide-active {
		.description {
			display: block;
		}
		.content-wrapper {
			position: absolute;
			top: 20%;
			left: 50%;
			background-color: var(--light-gray);
			border-radius: 50%;
			height: 275px;
			width: 275px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 40px;

			.title {
				font-size: 28px;
				position: static;
				min-width: 300px;
				text-transform: uppercase;
				@media (max-width: 768px) {
					min-width: auto;
					line-height: 40px;
				}
			}

			.description {
				display: block;
				max-width: 90%;
			}
		}
	}
}

@media (max-width: 768px) {
	.about-slider .swiper-pagination-costum {
		left: 20px;
	}
	.board-leads-wrapper .swiper-slide:not(.swiper-slide-active) .content-wrapper {
		display: flex;
    flex-direction: column-reverse;
    justify-content: center;
	}
	.board-leads-wrapper {
		.main-slider-wrapper .swiper-button-prev,
		.main-slider-wrapper .swiper-button-next {
			top: 95%;
		}
	}
	.board-leads-wrapper .swiper-slide:not(.swiper-slide-active) .title {
		position: static;
	}
	.board-leads-wrapper .title {
		font-size: 24px;
	}
	.board-leads-wrapper .main-slider-wrapper {
		width: 90% !important;
		padding-bottom: 280px;
	}
	.board-leads-wrapper .swiper-slide:not(.swiper-slide-active) .description {
		display: block;
	}
	.board-leads-wrapper .main-slider-wrapper img {
		width: 100%;
		margin-left: 0;
	}
	.board-leads-wrapper .swiper-slide.swiper-slide-active .content-wrapper {
		background-color: #fff;
		border-radius: 0;
		top: 90%;
		left: 0;
		width: 100%;
		right: 0;
		padding: 20px;
	}
}
