*:lang('ar') {
	direction: rtl;
}

[dir='rtl'] {
	direction: rtl;
	font-family: 'Tajawal', serif;
	a {
		font-family: 'Tajawal', serif;
	}
	.inner-article-wrapper .description {
		font-family: 'Tajawal', serif;
		text-align: right;
	}
	.title {
		font-family: 'Tajawal', serif;
		text-align: right;
	}
	.banner_wrapper .title {
		font-family: 'Tajawal', serif;
	}
	.input-select:after {
		right: auto;
		left: 10px;
	}
	.input-group label {
		left: auto;
		right: 10px;
	}
	.header-menu .open {
		left: 0;
		right: auto;
	}
	.menu-opened .close-menu {
		left: 20px;
		right: auto;
	}
	.home-banner-wrapper .title {
		right: 10%;
		left: auto;
	}
	.service-section-wrapper .service-section-details {
		float: right;
		@media (max-width: 768px) {
			float: none;
		}
	}
	.single-project-wrapper .location {
		right: -20px;
		max-width: 140px;
		min-width: 140px;
	}
	.header-contact-wrapper {
		flex-grow: initial;
	}
	.language-switch-en {
		color: #fff;
	}
	.media-main img {
		right: 0;
	}
	.media-main .days-left {
		right: -40px;
		max-width: 140px;
	}
	.media-main .date {
		right: 70%;
		min-width: 180px;
	}
	.media-main .title {
		right: 50%;
	}
	.home-project-slider .images-wrapper .inside-image {
		left: -120px;
		right: auto;
		@media (max-width: 768px) {
			right: auto;
			left: -40%;
		}
	}
	@media (max-width: 768px) {
		.board-leads-wrapper .main-slider-wrapper img {
				margin-right: 0;
		}
	}
	.main-slider-wrapper {
		.swiper-button-prev {
			left: auto;
			right: 90%;
		}
		.swiper-button-next {
			left: auto;
			right: 68%;
			@media (max-width: 768px) {
				left: auto;
				right: 10%;
			}
		}
	}
	.avantages-wrapper ul {
		float: right;
	}
	.main-leader-container .title {
		left: auto;
		right: 35%;
	}
	.main-leader-container .description {
		left: auto;
		right: 45%;
	}
	.board-leads-wrapper .swiper-slide.swiper-slide-active .content-wrapper {
		left: auto;
		right: 50%;
		@media (max-width: 768px) {
			right: 0;
		}
	}
	.swiper-container-vertical > .swiper-pagination-bullets {
		right: auto;
	}
	.avantages-wrapper img {
		float: left;
	}
	.home-project-slider .swiper-pagination {
		left: auto;
		right: 92%;
		@media (max-width: 768px) {
			left: auto;
			right: 85%;
		}
	}
	.home-project-slider .thumb-image {
		@media (max-width: 768px) {
			left: auto;
			right: -85%;
		}
	}
	.home-project-slider .swiper-slide-next .thumb-image {
		left: auto;
		right: -30%;
		@media (max-width: 768px) {
			left: auto;
			right: -85%;
		}
	}
	.home-project-slider .view-all {
		right: auto;
		left: 5%;
		@media (max-width: 768px) {
			left: 0;
			text-align: center;
			right: 0;
		}
	}
	.home-project-slider {
		.images-wrapper .inside-image span {
			right: auto;
			left: -35px;
		}
		.swiper-button-next {
			left: auto;
			right: 90%;
		}
		.swiper-button-prev {
			left: auto;
			right: 70%;
		}
		.swiper-button-next:after {
			content: 'السابق';
			font-family: 'Tajawal', serif;
		}
		.swiper-button-prev:before {
			left: auto;
			right: 34px;
		}
		.swiper-button-prev:after {
			content: 'التالي';
			font-family: 'Tajawal', serif;
		}
	}
	.single-project-wrapper .title {
		text-align: right;
		font-family: 'Tajawal', serif;
	}
	.board-leads-wrapper .swiper-slide:not(.swiper-slide-active) .title {
		left: 50px;
		right: auto;
	}
	.home-banner-wrapper .swiper-slide-next .clip-image-wrapper {
		left: auto;
		right: -45%;
	}
	.home-banner-wrapper .home-slide-wrapper a {
		left: auto;
		right: 10%;
	}
	.home-banner-wrapper .swiper-slide:hover:before {
		left: auto;
		right: 10%;
	}
	.home-banner-wrapper .swiper-slide:hover:after {
		right: 25%;
		left: auto;
	}
	@media (max-width: 768px) {
		.modal-content-container .close {
			right: auto;
			left: 20px;
		}
		.home-banner-wrapper .swiper-slide-next .clip-image-wrapper {
			left: auto;
			right: -95%;
		}
	}
}
