.conact-us-wrapper {
	background-color: #fff;
	background-position: right !important;
	.heading {
		color: var(--gray);
		margin: 0;
		padding-block-start: 50px;
	}
	@media (max-width: 768px) {
		background-image: none !important;
		height: auto;
	}
}

.contact-map-wrapper {
	background-color: #fff;
	padding: 70px 70px 0 0;
	width: 65%;

	img {
		display: block;
		margin: 0 auto;
	}
	@media (max-width: 768px) {
		padding: 0;
		width: 100%;
		padding-top: 40px;
	}
}

.contact-info-wrapper {
	padding-block: 120px;
	@media (max-width: 768px) {
		li:last-child {
			margin-top: 93px;
		}
	}
}

.contact-info-wrapper ul {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	@media (max-width: 768px) {
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
}

.contact-info-wrapper li {
	position: relative;
}

.contact-info-wrapper li:after {
	position: absolute;
	content: '';
	display: inline-block;
	width: 180px;
	height: 180px;
	left: -30%;
	top: 50%;
	transform: translateY(-50%);
	background-image: url('/images/icons/dark-squares.svg');
	@media (max-width: 768px) {
		width: 100px;
		height: 100px;
		background-size: contain;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.contact-info-wrapper li + li {
	margin-left: 120px;
	@media (max-width: 768px) {
		margin-left: 0;
		margin-top: 80px;
	}
}

.button-primary {
	font-family: 'Century Gothic', serif;
	width: 200px;
	height: 54px;
	margin-block: 40px;
	color: var(--yellow);
	background-color: transparent;
	border: 1px solid var(--yellow);
}
