.input-group {
	position: relative;
	select {
		border: 1px solid var(--primary-color);
	}
	@media (max-width: 768px) {
		width: 100%;
	}
}
.input-select {
	position: relative;
	label {
		font-size: 18px;
		background-color: #fff;
		font-weight: bold;
	}
	&::after {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		content: '';
		display: inline-block;
		width: 20px;
		vertical-align: middle;
		height: 12px;
		background-image: url('../../images/icons/down.svg');
		background-repeat: no-repeat;
	}
	option {
		padding-inline-start: 20px;
	}
	select {
		width: 100%;
		appearance: none;
		color: var(--gray);
		font-size: 14px;
		font-family: 'GilSans', serif;
		font-weight: 100;
		border: 1px solid var(--primary-color);
		height: 60px;
		padding-inline-start: 25px;
	}
}

.input-group label {
	position: absolute;
	left: 10px;
	top: -15px;
	padding: 0 15px;
}

.input-group input {
	height: 55px;
	background-color: transparent;
	width: 100%;
	border: none;
	color: var(--primary-color);
	border-top: 0;
}
.input-feild {
	position: relative;
	border: 1px solid var(--blue);
	label {
		font-size: 18px;
		background-color: #fff;
		font-weight: bold;
	}
}

.input-feild-email::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 1px;
	background-color: #fff;
}

.input-group-mail {
	position: relative;
}

.input-group-mail::after {
	position: absolute;
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	background-image: url('/images/icons/send.svg');
}

.input-group input::placeholder {
	color: var(--gray);
	font-family: 'Century Gothic', serif;
	padding-inline-start: 15px;
}

.input-checkbox {
	input[type='checkbox'] {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}

	label {
		position: relative;
		display: inline-block;
		padding: 0 0 0 2em;
		height: 1.5em;
		line-height: 1.5;
		cursor: pointer;
	}

	label::after {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 1.5em;
		height: 1.5em;
	}

	label::before {
		width: 20px;
		height: 20px;
		border: 1px solid;
		left: 0;
		position: absolute;
		content: '';
		display: inline-block;
	}

	/* Transition */
	label::before,
	label::after {
		-webkit-transition: 0.25s all ease;
		-o-transition: 0.25s all ease;
		transition: 0.25s all ease;
	}

	/* Checkbox */
	input[type='checkbox'] + label::after {
		content: '';
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		background-image: url('/images/icons/mark.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-color: var(--yellow);
		line-height: 1.5;
		text-align: center;
	}

	label::before,
	input[type='checkbox']:checked + label::before {
		background: transparent;
		border-color: #fff;
	}

	input[type='checkbox']:checked + label::after {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1);
	}
}

@media (max-width: 768px) {
	.form-banner-wrapper {
		background-image: none !important;
	}
	.contact-form-row.form-checkboxes-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.input-checkbox {
		flex: 1 50%;
		min-width: 50%;
		height: 20px;
	}
	.input-group {
		height: auto;
	}
}
textarea {
	border: none;
	width: 100%;
	resize: none;
}
.inquery-wapper {
	background-image: url('../../images/background/Cirlces-Projects.svg'),
		url('../../images/background/Group.svg');
	background-repeat: no-repeat, no-repeat;
	background-position: top right;
	background-size: 100px;
	form {
		width: 680px;
		margin: 0 auto;
		text-align: center;
		button {
			margin-block: 40px;
			background-color: var(--blue);
			color: #fff;
			border: none;
			font-size: 18px;
			font-family: 'NotoSerif', serif;
			text-align: center;
			height: 50px;
			width: 260px;
			border-radius: 25px;
			text-transform: uppercase;
		}
	}
	.input-group + .input-group {
		margin-top: 40px;
	}
}
