.header {
	width: 100%;
	display: flex;
	height: 80px;
	line-height: 80px;
	position: relative;
	align-items: center;
	z-index: 3;
}
.header-contact a {
	color: inherit;
	font-size: 28px;
	font-weight: bold;
	font-family: 'GilSans', serif;
	@media (max-width: 768px) {
		display: none;
	}
}
.header-nav a {
	font-size: 18px;
	color: #fff;
	font-family: 'GilSans', serif;
	position: relative;
	&:hover::after {
		position: absolute;
		content: '';
		display: block;
		width: 100%;
		top: 30px;
		height: 2px;
		background-color: #fff;
	}
	@media (max-width: 768px) {
		font-size: 24px;
	}
}
.sub-menu li {
	line-height: 40px;
}
.header-nav li {
	position: relative;
	transition: 0.5s ease-in-out;
}
.menu-item-has-children {
	position: relative;
	a {
		color: #fff;
	}
}
.menu-item-has-children li a {
	color: var(--blue);
	font-size: 16px;
}
.menu-item-has-children .sub-menu {
	background-color: #fff;
	display: block;
	flex-direction: column;
	position: absolute;
	padding: 20px 30px;
	top: 60px;
	align-items: flex-start;
	width: 220px;
	li {
		display: block;
	}
}
.sub-menu li:last-child a {
	font-family: GilSans, serif;
	font-size: 16px;
	padding: 0;
	border: 0;
	text-transform: capitalize;
}
.header-wrapper {
	.logo-wrapper {
		margin: 0;
		z-index: 2;
	}
	img {
		vertical-align: middle;
		line-height: 80px;
		margin-inline-end: 70px;
	}
}

.header-lang {
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Tajawal', serif;
	cursor: pointer;
	@media (max-width: 768px) {
		margin-inline-end: 20px;
	}
}
.header-menu:hover:after {
	width: 63px;
	height: 63px;
}
.language-switch-ar {
	font-weight: bold;
	font-family: 'Tajawal', serif;
	color: #fff;
}
.header-menu {
	flex-grow: 1;
	align-items: flex-start;
	display: flex;
	justify-content: space-between;
	position: relative;
	.open {
		position: absolute;
		top: 0px;
		right: 0px;
		width: 40px;
		height: 40px;
		display: inline-block;
		background-image: url('../images/background/menu-item.svg');
	}
}
.header-nav.mobile {
	display: none;
}
.header-nav li.btn-link a {
	border: 1px solid #fff;
	padding: 10px 25px;
	border-radius: 50px;
	font-family: 'NotoSerif', serif;
	text-transform: uppercase;
	&:hover::after {
		content: none;
	}
}
.header-nav {
	.projects .sub-menu {
		display: none;
	}
	.about .sub-menu {
		display: none;
	}
	.projects:hover .sub-menu {
		display: block;
	}
	.about:hover .sub-menu {
		display: block;
	}
}
.menu-opened {
	.open {
		display: none;
	}
	.close-menu {
		display: block;
		position: fixed;
		top: 30px;
		right: 20px;
		width: 30px;
		height: 30px;
		z-index: 3;
		background-size: contain;
		background-image: url('../images/icons/cancel-white.svg');
		@media (min-width: 768px) {
			display: none;
		}
	}

	.header-menu.mobile {
		display: block;
		position: fixed;
		z-index: 3;
		background-color: var(--blue);
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		height: 100%;
		a {
			color: #fff;
			line-height: 20px;
			margin-inline: 5px;
			.hidden {
				span {
					display: block;
				}
			}
		}
		@media (min-width: 768px) {
			display: none;
		}
	}
	.header-nav.mobile {
		display: block;
		position: absolute;
		z-index: 2;
		li {
			line-height: 60px;
		}
	}
}
.header-menu + .header-contact {
	margin-inline-end: 30px;
	@media (max-width: 768px) {
		margin-inline-end: 0px;
	}
}
.header-contact-wrapper {
	flex-grow: 1;
	align-items: flex-end;
	text-align: right;
}
.header-nav ul {
	display: flex;
	max-width: 800px;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 768px) {
		margin-block: 40px;
		margin-inline: 20px;
		flex-direction: column;
		align-items: flex-start;
	}
}

.header-menu.desktop {
	.header-nav {
		min-width: 800px;
	}
	@media (max-width: 768px) {
		display: none;
	}
}

.mobile.open {
	display: block;
}
@media (min-width: 768px) {
	.mobile {
		display: none;
	}
}
@media (max-width: 768px) {
	.header-menu {
		width: 100%;
		height: 40px;
	}
}
