.media-main {
	position: relative;
	margin-block: 60px;
	display: block;
	height: 600px;

	.days-left {
		font-family: 'GilSans', serif;
		position: absolute;
		top: 5%;
		left: -40px;
		padding: 10px 20px;
		font-size: 18px;
		background-color: var(--yellow);
		@media (max-width: 768px) {
			left: -20px;
		}
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 720px;
		object-fit: cover;
		height: 470px;
		@media (max-width: 768px) {
			height: 270px;
			width: 100%;
			position: static;
		}
	}

	.title {
		position: absolute;
		left: 50%;
		top: 15%;
		font-size: 50px;
		font-family: 'NotoSerif', serif;
		max-width: 514px;
		@media (max-width: 768px) {
			position: static;
		}
	}

	.date {
		position: absolute;
		left: 70%;
		font-family: 'GilSans', serif;
		top: 44%;
		font-size: 28px;
		color: var(--gray);
		@media (max-width: 768px) {
			position: static;
			margin-top: 20px;
			display: inline-block;
		}
	}
}
