.projects-wrapper {
	.projects-content {
		margin-block: 60px;
	}
	.col {
		text-align: center;
	}
	.col + .col {
		margin-bottom: 60px;
	}
}
.image-link-wrapper {
	display: block;
	width: 100%;
	height: 300px;
	background-size: cover;
	margin-block: 60px;
	background-position: center center;
	background-repeat: no-repeat;
	color: #fff;
	cursor: pointer;
	text-align: center;
	font-family: 'NotoSerif', serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 300px;
	position: relative;
	&::after {
		transition: 0.1s ease-out;
		top: 138px;
		left: 36%;
		position: absolute;
		content: '';
		display: inline-block;
		width: 26px;
		height: 26px;
		border: 1px solid #fff;
		border-radius: 50%;
	}
	&:hover::after {
		transition: 0.1s ease-in;
		width: 60px;
		height: 60px;
		top: 120px;
		left: 34%;
	}
	&::before {
		top: 147px;
		left: 37%;
		transition: 0.1s ease-out;
		position: absolute;
		content: '';
		display: inline-block;
		width: 8px;
		height: 8px;
		background-color: #fff;
		border-radius: 50%;
	}
}
.projects-wrapper::after {
	content: '';
	display: inline-block;
	background-image: url('../images/background/Cirlces-Projects.svg');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	width: 80px;
	height: 100%;
	z-index: 1;
	right: 0;
	top: 40%;
}
.banner_wrapper {
	position: relative;
	margin-top: -80px;
	width: 100%;
	.title {
		position: absolute;
		top: 30%;
		margin-top: 140px;
		font-family: 'NotoSerif', serif;
		font-weight: bold;
		color: #fff;
		font-size: 50px;
	}
}

.banner-img {
	background-size: cover;
	height: 350px;
	width: 100%;
	background-repeat: no-repeat;
}

.about-tabs-wrapper .sub-tabs-container {
	position: relative;
	@media (max-width: 768px) {
		.tab-content {
			padding-top: 0;
		}
	}
	.tabs {
		/* width: 5%; */
		display: flex;
		top: 80px;
		width: 200px;
		left: 0;
		right: 0;
		min-height: 0px;
		transform: translateY(-50%);
		margin: 0 auto;
		position: absolute;
		/* align-items: s; */
		justify-content: space-between;
		flex-direction: row;
		@media (max-width: 768px) {
			top: 5%;
		}
		.navigation__item {
			color: var(--gray);
			font-family: 'GilSans', serif;
			writing-mode: horizontal-tb;

			a {
				color: inherit;
			}

			&.active-tab {
				font-weight: bold;
				color: var(--primary-color);

				a {
					color: var(--primary-color);
				}
			}
		}
	}
}
