.service-section-wrapper {
	padding-block: 80px;
	min-height: 250px;

	.service-section-details {
		float: left;
		max-width: 380px;
	}

	.title {
		font-size: 38px;
		font-family: 'NotoSerif', serif;
		font-weight: bold;
		line-height: 52px;
	}

	.description {
		font-family: 'Gill Sans', sans-serif;
		line-height: 24px;
		color: var(--gray);
	}
}

.service-counters-wrapper {
	min-height: 250px;

	ul {
		min-height: 250px;
		padding: 0;
		list-style: none;
		margin: 0;
		display: flex;
		align-items: center;
		flex-grow: 1;
		justify-content: center;
	}

	li {
		flex-basis: 33%;
		display: flex;
		flex-direction: column;
		position: relative;
		height: 170px;
		justify-content: flex-end;
		align-items: flex-end;
		.counter {
			font-family: 'NotoSerif', serif;
			font-weight: bold;
			font-size: 50px;
			line-height: 60px;
			margin-right: -20px;
			max-width: 150px;
		}
		span {
			font-family: 'GilSans', serif;
			font-size: 18px;
			line-height: 22px;
			display: inline-block;
			max-width: 80px;
			margin-right: -20px;
		}
	}

	li::before {
		content: '';
		position: absolute;
		display: inline-block;
		width: 172px;
		z-index: -1;
		right: 0;
		height: 170px;
		background-image: url('../images/background/counter-circles.svg');
	}
}
@media (max-width: 768px) {
	.service-section-wrapper {
		.service-section-details {
			float: none;
		}
		.service-counters-wrapper ul {
			flex-direction: column;
			align-items: flex-start;
		}
		.title {
			font-size: 24px;
		}
		.service-counters-wrapper li {
			flex-basis: 50%;
		}
		.service-counters-wrapper li + li {
			margin-top: 80px;
		}
	}
}
