+banner({title: 'About', image: 'images/content/projects.jpg'})
.about-page-wrapper
	section.about-page-content
		.cols.cols--no-gutter.cols--2
			.col.animate
				img.image-large(src="../../images/content/about-1.jpg")
			.col.animate
				.shifted-content
					h1.title Saudi Egyptian Developers
					p.description Saudi Egyptian Developers has been one of the leading real estate development companies in Egypt for more than 45 years. The Company has a proven years full of achievements in the form of established and developed integrated service communities that ensure remarkable lifestyles following international standards that meet your needs and will exceed your expectations. Since its establishment in 1975, the company has implemented more than 45 real estate investment projects between residential complexes, villas, luxury housing, tourist villages and administrative towers all over Egypt.
					img(src="../../images/content/about-content-2.jpg")
	section
		.guide-banner-wrapper.clearfix.animate
			img(src="../../images/content/guide-banner.jpg")
			.guide-banner-content
				h1.title Let us Guide you Home
				p.description Our projects are of international standards, comparable to global developers, within the reach of all. We are dedicated to providing world-class services and market-leading expertise to our clients.
	section
		.strategy-wrapper
			.cols.cols--no-gutter.cols--2
				.col.animate
					.strategy-images-wrapper
						img(src="../../images/content/about-content-3.jpg")
						img.borderd-image(src="../../images/content/about-content-4.jpg")
				.col
					.strategy-content-wrapper.animate
						h1.title Our Strategy
						.startegy-item
							h2.sub-title Objective
							p.description Our projects are of international standards, comparable to global developers, within the reach of all. We are dedicated to providing world-class services and market-leading expertise to our clients.
						.startegy-item
							h2.sub-title Scope
							p.description To serve A & B class through high-quality residential communities with comprehensive services and mixed-use commercial projects with the collaboration with trusted partners to better serve our customers. We increase footprint in geographical areas within Egypt and the region (KSA) by providing integrated housing solutions covering multi and single family as well as commercial offerings. 
	section.avantages-wrapper.animate
		.container.clearfix
			.title.animate Advantages
			ul.description.list
				li • 45 Years of legacy iconic towers 
				li • Better value for money across different product categories
				li • High quality and credibility for delivery on time 
				li • Diversified product offering including residential and commercial 
				li • Extended footprint across Egypt (governorates) and the region (KSA)
			img(src="../../images/content/about-content-5.jpg")
	section.values-wrapper.animate
		.container.clearfix
			.title.animate Values
			ul.values-list
				li
					.value-item
						img(src="../../images/content/about-circle-1.png")
						h2.sub-title Delivering Quality
				li
					.value-item
						img(src="../../images/content/about-circle-2.png")
						h2.sub-title Customer Centricity
				li
					.value-item
						img(src="../../images/content/about-circle-3.png")
						h2.sub-title Building Trust
				li
					.value-item
						img(src="../../images/content/about-circle-4.png")
						h2.sub-title Sustainable Growth
include _main-leader
include _about-slider
