.about-slider-wrapper
	.container.container--narrow
		.about-slider.swiper-container
			h1.title More than 40 years of success
			ul.swiper-wrapper.list
				li.swiper-slide
					.images-wrapper
						img(src="../../images/content/about-slider-1.jpg")
						img(src="../../images/content/about-slider-2.jpg")
					p.description May 25, 1975, the signing of the agreement for the establishment of the Saudi Egyptian Company for Development between the governments of the Kingdom of Saudi Arabia and the Arab Republic of Egypt, with a paid-up captial of $50 million.
				li.swiper-slide
					.images-wrapper
						img(src="../../images/content/about-slider-1.jpg")
						img(src="../../images/content/about-slider-2.jpg")
					p.description May 25, 1975, the signing of the agreement for the establishment of the Saudi Egyptian Company for Development between the governments of the Kingdom of Saudi Arabia and the Arab Republic of Egypt, with a paid-up captial of $50 million.
				li.swiper-slide
					.images-wrapper
						img(src="../../images/content/about-slider-1.jpg")
						img(src="../../images/content/about-slider-2.jpg")
					p.description May 25, 1975, the signing of the agreement for the establishment of the Saudi Egyptian Company for Development between the governments of the Kingdom of Saudi Arabia and the Arab Republic of Egypt, with a paid-up captial of $50 million.
			.swiper-pagination.swiper-pagination-costum
	span.timeline-item 1970
	span.timeline-item 1973
	span.timeline-item 1975
include _board-slider