.board-leads-wrapper
  .container
    .swiper-container.main-slider-wrapper
      ul.swiper-wrapper.list
        li.swiper-slide
          .content-wrapper
            .title Mohammad Essam
            p.description Vice Chairman Supervisor of SED Assistant Minister of Housing, Utilities & Urban Communities Supervisor of the Minister’s Office
          img(src="../../images/content/member-1.jpg")
        li.swiper-slide
          .content-wrapper
            .title Mohammad Essam
            p.description Vice Chairman Supervisor of SED Assistant Minister of Housing, Utilities & Urban Communities Supervisor of the Minister’s Office
          img(src="../../images/content/member-2.jpg")
        li.swiper-slide
          .content-wrapper
            .title Mohammad Essam
            p.description Vice Chairman Supervisor of SED Assistant Minister of Housing, Utilities & Urban Communities Supervisor of the Minister’s Office
          img(src="../../images/content/member-1.jpg")
      .swiper-button-prev
      .swiper-button-next