+banner({title: 'Careers', image: 'images/content/projects.jpg'})
.careers-wrapper
	.container
		.cols.cols--2
			.col
				img(src="images/content/career.jpg")
			.col
				h1.title Hr Strategy
				p.description Saudi Egyptian Developers highly believe in the power of People.  Our employees come at the heart of our company strategy. We, in SED, all strive to create a dynamic developing work environment. We always look to add to our marvelous team innovative, enthusiastic and passionate professionals, who are motivated by challenge, and who possess the ability to make dreams come true. If you believe you possess what it takes, go ahead, apply and fasten your seat belts for a big journey full of challenges & successes. 
		.careers-filter-wrapper
			.cols.cols--3
				.col
					.input-group.input-select
						label Location
						select
							option(value="none" selected disabled hidden) Select an Option
							option(value="location_2") Location 1
							option(value="location_2") Location 2
				.col
					.input-group.input-select
						label Department
						select
							option(value="none" selected disabled hidden) Select an Option
							option(value="location_2") Location 1
							option(value="location_2") Location 2
				.col
					.input-group.input-select
						label Job Type
						select
							option(value="none" selected disabled hidden) Select an Option
							option(value="location_2") Location 1
							option(value="location_2") Location 2
		+careerItem({title:"Senior Accountant", description:"Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu." , location:"Egypt", department:"Finance", type:"Full Time", link:""})
		+careerItem({title:"Senior Accountant", description:"Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu." , location:"Egypt", department:"Finance", type:"Full Time", link:""})
		+careerItem({title:"Senior Accountant", description:"Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu." , location:"Egypt", department:"Finance", type:"Full Time", link:""})