+banner({title: 'Property Inquiry', image: 'images/content/projects.jpg'})
include _form
.map-wrapper
  .container
    h1 Our Offices
    .cols.cols--2
      .col
        .address-item
          h2.title Head Office
          p.description 4 Talaat Harb St., - Wasat Al-Balad,| Tel: (+202) 25795651  (+202) 25757286| Fax: (+202) 25772944
          .cols.cols--2
            .col
              .address-item
                h2.title Jayd sales center
                p.description Sadat Axis, Koronfil District - New Cairo - Cairo
              .address-item
                h2.title Sawary Site Office
                p.description 628 company buildings.
            .col
              .address-item
                h2.title Assuit office
                p.description 628 company buildings.
              .address-item
                h2.title Sawary Site Office
                p.description 628 company buildings.
      .col
        img(src="../../images/content/map.jpg")