h1 Gallery
section.container
  h1.title Gallery
  .cols--masonry.cols--3
    img(src='../../images/content/media1.jpg')
    img(src='../../images/content/media6.jpg')
    img(src='../../images/content/media2.jpg')
    img(src='../../images/content/media4.jpg')
    img(src='../../images/content/media5.jpg')
    img(src='../../images/content/media6.jpg')