.container
  section
    h1.title Gallery
    .cols--masonry.cols--2
      .gallery-item
        a(href="../../images/content/media1.jpg")
          img(src='../../images/content/media1.jpg' title="Caption for gallery item 1")
        a(href="../../images/content/media6.jpg")
          img(src='../../images/content/media6.jpg' title="Caption for gallery item 6")
        a(href="../../images/content/media2.jpg") 
          img(src='../../images/content/media2.jpg' title="Caption for gallery item 2")