.home-banner-wrapper.swiper-container.home-slider
  ul.swiper-wrapper
    li.swiper-slide
      a(href="#")
        .home-slide-wrapper
          .container.container--narrow
            p.title.container.container--narrow SED Developers Will guide you home
          .clip-image-wrapper
            img(src="../../images/content/homeBanner.jpg")
    li.swiper-slide
       a(href="#")
        .home-slide-wrapper
          .container.container--narrow
            p.title.container.container--narrow Move to What Moves You
          .clip-image-wrapper
            img(src="../../images/content/home-banner-2.jpg")
include _service-section
include _home-projects-slider
+contactBanner({href: '#',linkName:'Inquire Now' , description:'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.', title:'Looking for More Info', image:'images/content/contact-banner-image.jpg'})
