.home-projects
  .home-project-slider.swiper-container
    ul.swiper-wrapper.list
      li.swiper-slide
        .cols.cols--2
          .col.equal-height
            .title-wrapper
              h1.title Nile Pearl
            .images-wrapper
              img(src="../../images/content/project-slider.jpg")
              .inside-image
                span Inside View 1
                img(src="../../images/content/image-inside.jpg")
      li.swiper-slide
        .cols.cols--2
          .col.equal-height
            .title-wrapper
              h1.title Nile Pearl
            .images-wrapper
              img(src="../../images/content/project-slider.jpg")
              .inside-image
                span Inside View 2
                img(src="../../images/content/image-inside.jpg")
      li.swiper-slide
        .cols.cols--2
          .col.equal-height
            .title-wrapper
              h1.title Nile Pearl
            .images-wrapper
              img(src="../../images/content/project-slider.jpg")
              .inside-image
                span Inside View 3
                img(src="../../images/content/image-inside.jpg")
  .gallery-thumbs.swiper-container
    ul.swiper-wrapper.list
      li.swiper-slide
        span Swipe for slide 1
        img(src="../../images/content/project-slider.jpg")
      li.swiper-slide
        span Swipe for slide 2
        img(src="../../images/content/project-slider.jpg")
      li.swiper-slide
        span Swipe for slide 3
        img(src="../../images/content/project-slider.jpg")
    