+banner({title: '', image: 'images/content/projects.jpg'})
.inner-article-wrapper
  .inner-article-social
    ul.list
      li
        a(href="#" target="_blank")
          svg: use(xlink:href="images/sprite.svg#icon-facebook-blue")
          span.visually-hidden Visit our page on Facebook
      li
        a(href="#" target="_blank")
          svg: use(xlink:href="images/sprite.svg#icon-instagram-blue")
          span.visually-hidden Visit our page on Instagram
      li
        a(href="#" target="_blank")
          svg: use(xlink:href="images/sprite.svg#icon-linkedin-blue")
          span.visually-hidden Visit our page on Linkedin
  .container.container-super--narrow
    h1 Blue Vert New Phase Construction
    p.date 20 Feb, 2020 | Sylvia Heart | News
    p.description Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scele risque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincid unt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Aliquam ershajaat volutpat. Integer ut tincidunt orci. Etiam tristique, elit ut consectetur iaculis, metus lectuamats mattis justo, vel mollis eros neque quis augue. Sed lobortis ultrices lacus, a placerat mamaetus rutrum sit amet. Aenean.
    img(src="../../images/content/article.jpg")
    p.description Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcorper metus. Sed sollicitudin ipsum quis nunc sollicitudin ultrices. Donec euismod scele risque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincid unt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Aliquam ershajaat volutpat. Integer ut tincidunt orci. Etiam tristique, elit ut consectetur iaculis, metus lectuamats mattis justo, vel mollis eros neque quis augue. Sed lobortis ultrices lacus, a placerat mamaetus rutrum sit amet. Aenean.