.main-leader-container
  .container
    .title DR. ABDUL RAHMAN BIN HAMAD AL-HARKAN
    img(src="../../images/content/main-leader-1.jpg")
    p.description Chairman of the Board of Directors of The Saudi Egyptian Company for Development with 30 years of experience through which he held academic, administrative and financial posts
