+banner({title: 'Media', image: 'images/content/projects.jpg'})
+mediaMain({href: '#', title:'JAYD Compound Launching Event', daysLeft: '03 Days Left', image:'images/content/media-1.jpg', date:'20 Feb, 2020'})