.projects-wrapper
	+banner({title: 'Previous Projects', image: 'images/content/projects.jpg'})
	.container.container--narrow
		.cols.cols--2
			.col
				.input-group.input-select
					label Location
					select
						option(value="none" selected disabled hidden) Select an Option
						option(value="location_2") Location 1
						option(value="location_2") Location 2
			.col
				.input-group.input-select
					label Property
					select
						option(value="none" selected disabled hidden) Pick a property type
						option(value="location_2") Location 1
						option(value="location_2") Location 2
	.container.container--narrow
		.cols.cols--2
			.col
				+singleProject({link:'#', location:'New Cairo', title: 'Sawary Compound', image: 'images/content/project-1.jpg'})
			.col
				+singleProject({link:'#', location:'New Cairo', title: 'Sawary Compound', image: 'images/content/project-1.jpg'})
			.col
				+singleProject({link:'#', location:'New Cairo', title: 'Sawary Compound', image: 'images/content/project-1.jpg'})
			.col
				+singleProject({link:'#', location:'New Cairo', title: 'Sawary Compound', image: 'images/content/project-1.jpg'})