+banner({title: 'Previous Projects', image: 'images/content/projects.jpg'})
.about-tabs-wrapper
	+tabs(['About', 'Location', 'Masterplan', 'Facilities'])
		.tab-content(role="tabpanel")
			h1 About tab1 
		.tab-content(role="tabpanel")
			.container.container--tabs
				.project-map-wrapper
					img(src="../../images/content/map.jpg")
		.tab-content(role="tabpanel")
			.project-floor-plan
				.container.container--tabs
					a.download(href="") Download Floorplan
					.project-map-wrapper
						img(src="../../images/content/floorplan.jpg")
		.tab-content(role="tabpanel")
			.container.container--tabs
				.cols.cols--tabs.cols--4.facility-grid
					.col
						.grid-tile-wrapper
							.grid-tile-details
								h1.title Club House & Spa 
								p Energize every day at the clubhouse, gym, swimming pool and spa specifically designed with our residents’ core needs in mind. All under one roof, for relaxation, living every moment in luxury and having a one of a kind experience.
							img(src="../../images/content/facility-2.png")
					.col
						.grid-tile-wrapper
							.grid-tile-details
								h1.title Club House & Spa 
								p Energize every day at the clubhouse, gym, swimming pool and spa specifically designed with our residents’ core needs in mind. All under one roof, for relaxation, living every moment in luxury and having a one of a kind experience.
							img(src="../../images/content/facility-2.png")
					.col
						.grid-tile-wrapper
							.grid-tile-details
								h1.title Club House & Spa 
								p Energize every day at the clubhouse, gym, swimming pool and spa specifically designed with our residents’ core needs in mind. All under one roof, for relaxation, living every moment in luxury and having a one of a kind experience.
							img(src="../../images/content/facility-3.png")
					.col
						.grid-tile-wrapper
							.grid-tile-details
								h1.title Club House & Spa 
								p Energize every day at the clubhouse, gym, swimming pool and spa specifically designed with our residents’ core needs in mind. All under one roof, for relaxation, living every moment in luxury and having a one of a kind experience.
							img(src="../../images/content/facility-4.png")