.service-section-wrapper.container.container--narrow.clearfix
  .service-section-details
    h1.title.animate Defined by Service & Expertise
    p.description.animate Building specialized departments ready to give our valued clients unparalleled expertise and a positive experience delivering only excellence and aim to exceed expectations in every project.
  .service-counters-wrapper
    ul.animate
      li 120 + <span>Company Employees</span>
      li 32+ <span>Commercial Buildings</span>
      li 100+ <span>Resdential Project</span>