mixin tabs(tabs)
  .tabs__container#tab
    .tabs__container-links.align-center
      ul.tabs.list.list--inline.navigation__list(role="tablist")
        each tab, index in tabs
          li.navigation__item(class=index === 0 ? 'active' : '', role="presentation")
            a.tab-title(href=`#${tab}`)
              = tab
    .tabs__container-content
      block
