.mobile-only {
	@media (min-width: 768px) {
		display: none !important;
	}
}
.hidden {
	display: none;
}
.dark {
	background-color: #000;
}
.light {
	background-color: #fff;
}
.section-padding {
	padding-block: 80px;
}
.header-section-padding {
	padding-top: 180px;
	padding-bottom: 80px;
	@media (max-width: 768px) {
		padding-bottom: 40px;
	}
}
