:root {
	--primary-color: #0a4875;
	--gray: #6c6c6c;
	--yellow: #f9d26d;
	--blue: #003a70;
	--light-gray: #f1f1f1;
	--border-gray: #d8d8d8;
	--green: #23603f;
	--white: #fff;
	--light-yellow: #f0e0a2;
}
