footer.footer-wrapper
	.container
		.footer
			.footer-menu-wrapper
				ul.footer-menu
					li
						a(href="#" target="_blank") About SED
					li
						a(href="#" target="_blank") Contact Us
					li
						a(href="#" target="_blank") Privacy Policy
			.footer-social-wrapper
				ul.footer-social
					li
						a(href="#" target="_blank")
							svg: use(xlink:href="images/sprite.svg#icon-facebook")
							span.visually-hidden Visit our page on Facebook
					li
						a(href="#" target="_blank")
							svg: use(xlink:href="images/sprite.svg#icon-instagram")
							span.visually-hidden Visit our page on Instagram
					li
						a(href="#" target="_blank")
							svg: use(xlink:href="images/sprite.svg#icon-linkedin")
							span.visually-hidden Visit our page on Linkedin
			p ©2020 - SED |  Designed & developed by robusta