//- footer.footer-wrapper
//- 	.container
//- 		.footer
//- 			img(src="../images/logo-white.svg")
//- 			.footer-social-wrapper
//- 				ul.footer-social
//- 					li
//- 						a(href="#" target="_blank")
//- 							svg: use(xlink:href="images/sprite.svg#icon-facebook")
//- 							span.visually-hidden Visit our page on Facebook
//- 					li
//- 						a(href="#" target="_blank")
//- 							svg: use(xlink:href="images/sprite.svg#icon-instagram")
//- 							span.visually-hidden Visit our page on Instagram
//- 					li
//- 						a(href="#" target="_blank")
//- 							svg: use(xlink:href="images/sprite.svg#icon-twitter")
//- 							span.visually-hidden Visit our page on Twitter
//- 				p ©2020 - PRE Developments  |  Designed & developed by robusta
//- 			.input-group.input-group-mail
//- 				.input-feild-email
//- 					input(value="" class="form-control" type="text" name="email" id="email" required="required" placeholder="Your Email")
//- 					label(for="email") Subscribe