header.header-fixed
	.header-wrapper.container
		h1.logo-wrapper
			a(href="index.html")
				span.visually-hidden PRE
				img(src="images/pre-logo-blue.svg" alt="PRE")
		.header-contact-wrapper
			.header-lang
				.language-switch-ar عربي
				.language-switch-en.hidden English
			.header-menu
				span 
				nav.header-nav.hidden
					ul.list.list--inline
						li: a(href="/projects.html") Projects
						li: a(href="/about.html") About
						li: a(href="/contact-us.html") Contact us
						li: a(href="/news.html") News
						li: a(href="/events.html") Events
						li: a(href="/careers.html") Career			
			.header-contact
				a(href="tel:19965") 19965
