header
	.header.container
		.header-wrapper
			h1.logo-wrapper
				a(href="index.html")
					span.visually-hidden SED
					img(src="images/SED.svg" alt="SED")
		.header-menu
			nav.header-nav
				ul.list.list--inline
					li: a(href="/about.html") About SED
					li: a(href="/projects.html") Projects
					li: a(href="/media.html") Media
					li: a(href="/careers.html") Careers
					li: a(href="/contact-us.html") Contact us
					li: a(href="#form") Property Inquiry
		.header-contact-wrapper
			.header-lang
				.language-switch-ar عربي
				.language-switch-en.hidden English
